



body{
    display: block;
background: #EAEDED;
}
.form{
    padding: 0 10vw;
}
.logo{
    margin: 20px auto 50px;
}
input, textarea{
    font-weight: 500;
}
input:not(input[type="checkbox"]){
    width: 100% ;
}
textarea{
    width: 100%;
    height: 270px ;
    resize: none;
    padding: 10px 20px;

}
.product-info{
    width: 100%;
    height: 270px ;
    resize: none;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: .75fr 1.25fr;
    grid-template-rows: repeat(2 ,1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
}
.product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background-size: cover;
    border-radius: 10px;
    grid-row: span 2;
    text-shadow: 0 0 10px #ffffff;
}
.text{
    text-transform: capitalize;
    color: #383838;
    font-size: 20px;
    font-weight: 500;
}
.upload-image-sec, .select-size {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px ;
}
.select-brand,.select-mat,.select-color{
    background: #ffffff;
    border-radius: 10px;
    width: 100%;
    resize: none;
    padding: 10px 20px;


}
.select-brand{
    margin: 20px;
}
.text img{

    height: 20px;
    margin-right: 10px;
}
.upload-catalogue{
    width: 100%;
    margin:20px 0 ;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-gap: 10px;

}

.upload-image{
    width: 100%;
    height: 100px;
    background-size: cover;
    background: #f5f5f5;
    cursor: pointer;
    border-radius: 5px;

}
.upload-image:hover{
    background: rgba(0 ,0,0,0.2);
    background-size: cover;
}
.sizes{
    margin-top: 30px;
}
.size-checkbox{
    border: 1px solid #383838;
    -webkit-appearance: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    color: #383838;
}

.size-checkbox::after{
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    text-transform: capitalize;
}
.size-checkbox:checked{
    background: #383838;
    color: white;
}

/* check box brands*/
.size-checkbox2{
    border: 1px solid #383838;
    -webkit-appearance: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    color: #383838;
    padding: 10px 20px;


}
.size-checkbox2::after{
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    text-transform: capitalize;
}
.size-checkbox2:checked{
    background: #383838;
    color: white;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.product-price{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 100%;
    resize: none;
    padding: 10px 20px;

}

.product-price input{
    margin:0;
}
.buttons{
justify-content: center;
    justify-items: center;

}
.btn{
    width: 100px;
    height: 40px;
    text-align: center;
    justify-items: center;
    background: #383838;
    line-height: 40px;
    color: #ffffff;
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
  border-radius: 4px;
    margin: 20px  ;

}
.texts{
    width: 100px;
    height: 40px;
    text-align: center;

    margin: 20px  ;

}
#save-btn{
    background: #a9a9a9 ;
}











