body{
    display: block;
    background: white;
}

.form{
    width: 100%;
    padding: 20px 10vw;
}

.heading{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 20px 10vw;

}

.form input{
    background: #f5f5f5; !important;
    width: 100%;    !important;
}

.three-input-container{
    display: flex;
    justify-content: space-between;
}
.three-input-container input{
    margin: 10px;
}
.lal {
    width: 400px;
    height: 40px;
}


#state{
    margin: 0 20px !important;
}
select{
    text-transform: capitalize;
    font-size: 18px;
    height:10%;
    padding: 10px 10vw;
    border-radius: 5px;
    border: none; margin: 15px;
    color: #383838;
    background: #f5f5f5;!important: ;
    width: 50%!important ;



}
.place-order-btn{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    background: #383838;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    text-decoration: none;

}
option{
    text-align: center;
}
.checkout-section-order{
   justify-content: left;
    margin-right: 170px;
}

.coe{
    display: flex;
    margin: 20px;
}
.clo{
    display: block;
}
.img-cart{
    margin-right: 20px;
}