.product-details {
    width: 100%;
    padding: 60px 10vw;
    display: flex;
    justify-content: space-between;

}
.image-slider{
    width: 600px;
    height: 600px;
    position: relative;
    background-image: url("../img/p1.webp");
    background-size: cover;
}
.product-images{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #ffffff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100px;
    grid-gap: 10px;
    padding: 10px;
}
.product-images img {
   
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.product-images img .active {
    opacity: 0.5;
}

.details{
    width: 50%;

}
.details .product-brand{
    text-transform: capitalize;
    font-size:25px ;
    font-style: normal;
    border: #383838;
}
.details .product-short-des{
    font-size: 18px;
    line-height: 20px;
    height: auto;
    margin: 10px 0 20px;


}
.product-price{
    font-weight: 700;
    font-size: 20px;

}
.product-actual-price{
    font-size: 20px;
    opacity: 0.5;
    text-decoration: line-through;
    margin: 0 20px;
    font-weight: 300 ;
}
.product-discount{
    color: #ff7d7d;
    font-size: 15px;
}
.btn{
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #383838;
    color: #383838;
    font-size: 20px;
    cursor: pointer;
    text-transform:capitalize ;
}
.product-sub-heading{
    font-size: 30px;
    text-transform: capitalize;
    margin: 60px 0 10px;
    font-weight: 300 ;


}
.size-radio-btn {
    display: inline-block;
    width: 80px ;
    height: 80px;
    text-align: center;
    /*font-size: 15px;
    border: 1px solid white;
    font-size: 20px;
    border: 1px solid #383838;*/
    border-radius: 50%;
    margin: 10px;
    margin-left: 0;
    line-height: 80px;
    text-transform: capitalize;
    color: #383838;
    cursor: pointer;
}
.size-radio-btn.check{
    background: #383838;
    color: white;
}
.details-des{
    padding: 0 10vw;
    text-transform:capitalize ;
}
.heading{
    font-size:30px ;
    margin-bottom: 30px;
}
.details-des{
    color: #383838;
    line-height:25px ;

}
